body {
    background-image: url("https://d1zzxdyvtq79bu.cloudfront.net/uploads/images/landings/66/df/cale-tradicional-de-cartagena-de-indias.jpg");
    background-attachment: scroll;
    background-size: 100%;
    text-align: center;
    position: static;
    display:flex; /* flexbox */
    flex-direction: column; /* establece la direccion principal del alineamiento y alinea en esa direccion */
    align-items: center; /* alinea en la direccion secundaria */
    justify-content: center; /* alinea en la direccion principal */
}

h1 {
    color: goldenrod;
    text-align: center;
    font-style: italic;
    font-size: 90px;
}

#thirdDiv {
    border: 10px solid silver;
    border-radius: 30px;
    height: 600px;
    width: 500px;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
    color: white;
    flex: 1 1 auto;
}

.divClass {
    text-align:center;
    color: white;
    flex: 1 1 auto;
}

img {
    width: 400px;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}